$prefix_cls: "axis-popover";

$POPUP_PADDING_SIZE: 10px;
$POPUP_ARROW_UPPER_SIZE: 7px;
$POPUP_ARROW_UNDER_SIZE: 8px;

$POPUP_ARROW_UPPER_COLOR: #ffffff;
$POPUP_ARROW_UNDER_COLOR: #c0c0c0;

.#{$prefix_cls} {
  &-body {
    position: relative;
    width: 100px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 15px rgba(27,31,35,.15);
    background-color: $POPUP_ARROW_UPPER_COLOR;
  }

  &-withBorder {
    border: 1px solid #c4c4c4;
  }

  &-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;

    &-upper-part {
      border-width: $POPUP_ARROW_UPPER_SIZE;
      transform: scale(0.94);
    }
    &-under-part {
      border-width: $POPUP_ARROW_UNDER_SIZE;
    }
  }

  &-below > &-arrow {
    bottom: 100%;

    &-upper-part {
      border-bottom-color: $POPUP_ARROW_UPPER_COLOR;
      transform-origin: center bottom;
    }
    &-under-part {
      border-bottom-color: $POPUP_ARROW_UNDER_COLOR;
    }
  }

  &-above > &-arrow {
    top: 100%;

    &-upper-part {
      border-top-color: $POPUP_ARROW_UPPER_COLOR;
      transform-origin: center top;
    }
    &-under-part {
      border-top-color: $POPUP_ARROW_UNDER_COLOR;
    }
  }

  &-left > &-arrow {
    left: 100%;

    &-upper-part {
      border-left-color: $POPUP_ARROW_UPPER_COLOR;
      transform-origin: left center;
    }
    &-under-part {
      border-left-color: $POPUP_ARROW_UNDER_COLOR;
    }
  }

  &-right > &-arrow {
    right: 100%;

    &-upper-part {
      border-right-color: $POPUP_ARROW_UPPER_COLOR;
      transform-origin: right center;
    }
    &-under-part {
      border-right-color: $POPUP_ARROW_UNDER_COLOR;
    }
  }
}